---
import { useTranslations } from '$i18n/utils'

///@ts-ignore
const t = useTranslations(Astro.currentLocale)
---

<div class="container mx-auto space-y-4 text-justify">
  <h1 class="text-2xl">{t(`about.title`)}</h1>

  <p set:html={t(`about.first-paragraph`)} />

  <p>{t(`about.second-paragraph`)}</p>

  <p>{t(`about.third-paragraph`)}</p>
</div>