---
import { Icon } from "astro-icon/components";
import SocialMedia from "./SocialMedia.astro";

const year = new Date().getFullYear();
---

<footer class="pb-10 pt-14 md:pb-14 flex flex-col items-center container space-y-8">
  <Icon name="logo_r" class="w-8 h-12 mb-7 md:w-12 md:h-16" />

  <hr class="block border-0 h-[2px] bg-gradient-to-r from-cadmium-orange via-medium-vermilion to-44% to-metallic-red w-full" />

  <div class="flex space-x-6">
    <SocialMedia
      title="Talk to me"
      url="mailto:contact@rubenslop.es"
      icon="mail"
    />

    <SocialMedia
      title="My LinkedIn profile"
      url="https://www.linkedin.com/in/rubens-lopes/"
      icon="linked-in"
    />

    <SocialMedia
      title="My GitHub profile"
      url="https://github.com/rubens-lopes"
      icon="gh"
    />
  </div>

  <p>
    &copy; Rubens Lopes, {year}.
  </p>

  <div class="self-start">
    Designed by <a href="https://www.linkedin.com/in/barrosarah/">Sarah Barros</a> and <a href="https://www.instagram.com/kelvinroliveira">Kelvito Oliveira</a>.
    Developed by me.
  </div>
</footer>
