---
import { Icon } from 'astro-icon/components'
import { useTranslations } from '$i18n/utils'
import Controls from './Controls.astro'
import SocialMedias from './SocialMedias.astro'
import HorizontalRuler from './HorizontalRuler.astro'

const year = new Date().getFullYear()

///@ts-ignore
const t = useTranslations(Astro.currentLocale)
const madeBy = t(`footer.made-by`)
  .replace(`{0}`, `<a href="https://www.linkedin.com/in/barrosarah/">Sarah Barros</a>`)
  .replace(`{1}`, `<a href="https://www.instagram.com/kelvinroliveira">Kelvito Oliveira</a>`)
---

<footer class="pb-10 pt-14 md:pb-14 container flex flex-col items-center">
  <Icon name="logo_r" class="w-8 h-12 mb-7 md:w-12 md:h-16" />

  <div class="space-y-8 flex flex-col items-center w-full">
    <HorizontalRuler />

    <SocialMedias />

    <p>&copy; Rubens Lopes, {year}.</p>
  
    <div set:html={madeBy} class="self-start" />
  </div>

  <Controls class="md:hidden mt-6" />
</footer>
