---
import { Icon } from 'astro-icon/components'

const {
  title,
  lang,
} = Astro.props

const active = Astro.currentLocale === lang ? `bg-metallic-red` : ``
---
<a class:list={[active, `py-2 px-3 rounded-md`]} {title} aria-label={title} href={`/${lang}`}>
  <Icon name={lang} class="rounded-full size-6" />
</a>

