---
import Lang from './Lang.astro'
const { class: css } = Astro.props
---
<nav class:list={["switch", css]}>
  <Lang title="Português (Brasil)" lang="pt-br" />
  <Lang title="English" lang="en" />
</nav>
