---
import { Icon } from 'astro-icon/components'

const { icon, active } = Astro.props
const background = active ? `bg-metallic-red dark:bg-onyx` : ``
const stroke = active ? `stroke-white` : `stroke-metallic-red dark:stroke-white`
---

<button class={`py-2 px-3 rounded-md ${background}`}>
  <Icon name={icon} class=`${stroke} rounded-full size-6 stroke-metallic-red` />
</button>